body {
    color: #303030;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.layout-container {
    background: #f3f3f3;
    padding: 1em;
}
h1 {
    color: #777;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 1em;
}
h2 {
    color: #777;
    font-size:1.7rem;
    font-weight:300;
    margin:2em 0 .5em;
}
/**
 * Quick tweaks for deployment
 */
h2 > .count {
    color: #555;
	font-size: .8em;
	margin: 0 2em 0 0;
}

h3 {
    color: #666;
    font-size: 1.5rem;
    font-weight: normal;
    margin:.5em 0 .25em 0;
}
h4 { font-size:100%; font-weight:bold; }
a {
    text-decoration:none; color: $link-color;
}
p { margin:0 .5em .5em .5em; }

table { margin: 1em 0 1em 0; }
th { font-weight:bold; }
td { padding:.25em; }
thead th { text-align:left; }
tbody th { text-align:right; }

ul { list-style-type:bullet; margin-left:1em; padding:0; }
li { margin:0; }

fieldset { padding:.25em 0; }
legend { font-weight:bold; }

@media (max-width:400px) {
    textarea { width:80%; height:6em; }
}
@media (min-width:401px) {
    textarea { width:60ex; height:12em; }
}

@media print {
    h1 {
        font-size: 1.5rem;
        margin: .5em 0 0 0;
    }
    h2 {
        font-size: 1.35rem;
        margin: .5em 0 0 0;
    }
}
