$city-logo-url: 'images/logo.svg'; //URL relative to location of screen.css
$link-color: #1e59ae;
$header-text-color: #1e59ae;
$header-background-url: 'images/header-bg-2.jpg'; //URL relative to location of screen.css
$nav1-link-color: #1e59ae;
