$window-med: 46em;
$window-lg: 70em;

$font-body-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;

@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}
